.logo{
    background-color:#f1f1f1;
    text-align:center;
    padding:40px;
}
.text{
    max-width:700px;
    margin:30px auto;
    padding:15px;
    color:rgb(36,41,46);
    font-size:17px;
    line-height:1.7;
    text-size-adjust:100%;
}
.link{
    background-color:#f1f1f1;
    text-align:center;
    padding:40px;
    font-size:20px;
}
.watermark{
    position:fixed;
    right:20px;
    top:20px;
}